<br>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="footer">
    <div class="container">
            <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
          
    </div>
  </div>